.footer {
  height: 50px;
  background-color: $black-color;
  text-align: center;
  align-items: center;
  display: flex;
  color: $pink-color;
  justify-content: center;
  p {
    font-size: $font-size-small / 2;
  }
  box-shadow: -10px 0px 61px -24px rgba(0, 0, 0, 0.75);
  border-top: 1px solid $black-color-medium;
}

.footer-link {
  cursor: pointer;
  color: white;
  &:hover {
    text-decoration: underline;
  }
}

.footer-heart {
  padding-top: 5px;
  color: red;
}