// Font families
$primary-font: 'Work Sans';
$secondary-font: '-apple-system';
$third-font: 'sans-serif';

// Default colors
$cyan-color: #79FFE1;
$pink-color: #FF0080;
$black-color:#000000;
$black-color-medium:#333;
$black-color-ligth: #111;
$dark-grey: #eeee;

// Sizes
$font-size-small: 2.5rem;
$font-size-medium: 3.5rem;
$font-size-large: 4.5rem;
$font-size-xlarge: 5.5rem;


// Spacing 
$s-spacing-size: 1.2rem;
$m-spacing-size: 1.6rem;
$l-spacing-size: 3.2rem;
$xl-spacing-size: 4.8rem;